*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    border-radius: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: url('purple.jpg');
    background-size: cover;
    background-position: center ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background: #edeefe;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: orange;
    color: white;
    cursor: pointer;
}
.button:hover {
    background-color: orange;
}

.task-section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
    color: grey;
}

.task-buttons {
    display: flex;
    gap: 5px;
}

.task-buttons button {
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button {
    background-color: #f0ad4e;
    color: white;
}

.edit-button:hover {
    background-color: #ec971f;
}

.delete-button {
    background-color: #d9534f;
    color: white;
}

.delete-button:hover {
    background-color: #c9302c;
}